<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1{
            color: brown;
        }
        .quotation {
            width: 100%;
        }
        .quotation, .quotation th, .quotation td {
            border: 1px solid brown;
            border-collapse: collapse;
        }
        .quotation th {
            background-color: brown;
            color: white;
        }
    </style>
</head>
<body>
<h1>Certificate</h1>
<br />

<table class="quotation">
    <tr>
        <th>Course name</th>
        <th>User Name</th>
        <th>User Surname</th>
    </tr>
    <tr>
        <td th:text="${course.name}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
    </tr>
</table>
</body>
</html>